.loader__container {
    &__img{
        img {
            position: fixed;
            right: calc(34%);
            top: calc(14vh);
            width: 200px;
            height: 200px;
            border-radius: 50%;
            z-index: 99999999;
        }
    }
}