.characters__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__item {
        margin: 12px;
        width: 100px;
        background-color: #FFC938;
        div {
            padding: 5px;
        }
        img {
            width: 100%;
        }
    }
}

.characters__container {
    &__item:hover {
        background-color: #FC9338;
    }
}

@media only screen and (min-device-width: 768px) {
    .characters__container {
        width: 70%;
        &__item {
            width: 300px;
        }
    }
}