.sidebar__container {
    width: 100%;
    // background-color: #62A4AB;
    &--fixed {
        position: fixed;
        word-break: break-all;
    }
}

@media only screen and (min-device-width: 768px) {
    .sidebar__container {
        width: 30%;
    }
}